.hero{
     height: 60vh;
     padding: 25px; 
}
.hero_content{
      display: flex;
      padding-inline: 110px;
      gap: 30px;
      justify-content: space-between;
      background-color: hsla(0, 0%, 35%, 0.895);
      border-radius: 10px;
      margin-top: -20px;
}
.hero_left{
      max-width: 50%;
      margin-top: 100px;
}
.hero_left h1{
     font-size: 4.5rem;
     margin-top: 10px;
}
.hero_left p{
      font-size: 18px;
      color: hsla(0, 0%, 0%, 0.934);
      margin-top: 15px;
}
.hero_right{
      width: 800px;
      height: 500px;
      overflow: hidden;
      border-radius: 20px;
}
.hero_right img{
 width: 80%;
 height: 60%;
 padding: 100px;
 object-fit: cover;
 border-radius: 8rem;
}

@media (max-width: 600px) {
  .hero {
    height: auto; /* Adjust height for smaller screens */
    padding: 20px; /* Adjust padding */
  }

  .hero_content {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content */
  }

  .hero_left {
    max-width: 100%; /* Full width on smaller screens */
    font-size: 18px; /* Adjust font size */
    margin-top: 2rem; /* Adjust margin */
  }

  .hero_right {
    width: 100%; 
    font-size: 14px; 
    margin-top: 10px; 
  }
  }
